<body {
color: white;
background: black;
margin: 0px;
font-family: "New Amsterdam", sans-serif
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 20px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(rgb(255, 255, 255));
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
  